<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="/static/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">
<title>{% block title %}Education Judge{% endblock %}</title>
</head>
<body>
  <div class="nav-wrapper-self">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">EduJudge</a>
        </div>

        {% if user.is_authenticated %}
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/tasklist">Список задач</a></li>
            <li><a href="/tasks/new">Добавить задачу</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  role="button" aria-haspopup="true"
                  aria-expanded="false">{{ user.first_name }} {{ user.last_name }}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/user/{{ user.username }}">Моя страница</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/auth/logout">Выйти</a></li>
              </ul>
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
    </nav>
  </div>
  <div class="container main">
    {% block content %}{% endblock %}
  </div>
<script src="/static/angular.min.js"></script>
<script type="text/javascript" src="/static/script.js"></script>
</body>
</html>
