{% extends "base.html" %}

{% block content %}
<form role="form" id="newtask-form">
  <div class="form-group">
    <label for="title">Заголовок задачи</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Введите заголовок" autofocus="on" autocomplete="off">
  </div>
  <div class="form-group">
    <label for="text">Текст задачи</label>
    <textarea class="form-control tarea no-resize" id="text" name="text" placeholder="Введите текст задачи"></textarea>
  </div>
  <div class="form-group">
    <label for="text">Ограничение по времени на тест (секунд)</label>
    <input type="text" class="form-control" id="timelimit" name="timelimit" placeholder="Введите ограничение в секундах" value="1" autocomplete="off">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">Тесты</label>
    <div class="tests" id="tests-box">
      {% include "simple_test_item.html" %}
    </div>
    <a href="#" id="add-test-link">Добавить тест</a>
  </div>
  <div class="form-group btn-area-grey">
    <button type="submit" class="btn btn-success">Сохранить</button>
  </div>
</form>
{% endblock content %}
