<h2>Статус решения задач
    <small
      class="grey"
      ng-show="users"
      style="font-size: 50%">последнее обновление {{ last_update | date:'dd.MM.yyyy @ HH:mm:ss' }}</small>
  </h2>
  <br>
  <div>
    <table class="table table-striped table-bordered" ng-show="users">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Студент</th>
            <th ng-repeat="task in tasks" style="text-align: center;">
              <span uib-tooltip="{{ task.id }}. {{ task.title }}">{{ task.id }}</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <th scope="row">{{ $index + 1}}</th>
            <td>
              <a ng-href="/users/{{ user.username }}">
                {{ user.first_name }} {{ user.last_name }} ({{ user.username }})
              </a>
            </td>
            <td
              ng-repeat="task in tasks"
              ng-class="determineClass(summary[user.id][task.id])"
              style="padding: 0;height:100%"
              >
              <a style="height:37px;display:block;"
                href='/tasks/{{task.id}}?username={{user.username}}'>
                <span style="visibility:hidden">-</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-hide="users">
        <p>Нет данных для отображения. Выберите один из вариантов:</p>
        <ul>
          <li ng-show="suggestLinks.all_users_all_tasks">
            <a ng-href="{{ suggestLinks.all_users_all_tasks }}">Все пользователи и все задания</a>
          </li>
          <li ng-show="suggestLinks.online_users_all_tasks">
            <a ng-href='{{ suggestLinks.online_users_all_tasks }}'>Все задания, пользователи online</a>
          </li>
          <li ng-show="suggestLinks.week_users_all_tasks">
            <a ng-href='{{ suggestLinks.week_users_all_tasks }}'>Все задания, пользователи были online в течение недели</a>
          </li>
          <li ng-show="suggestLinks.failed_tasks">
            <a ng-href='{{ suggestLinks.failed_tasks }}'>Задания с неверными решениями</a>
          </li>
        </ul>
      </div>
  </div>
