<h2>Студенты
  <small
    class="grey"
    ng-show="students"
    style="font-size: 50%">последнее обновление {{ last_update | date:'dd.MM.yyyy @ HH:mm:ss' }}</small>
</h2>
<br>
<div>
  <table class="table table-striped" ng-show="students">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Студент</th>
          <th scope="col">Решенные <small ng-show="all_solved">({{ all_solved }})</small></th>
          <th scope="col">С ошибкой</th>
          <th scope="col">Нетронутые</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="student in students">
          <th scope="row">{{ $index + 1}}</th>
          <td>
            <a ng-href="/users/{{ student.username }}">
              {{ student.first_name }} {{ student.last_name }} ({{ student.username }})
            </a>
          </td>
          <td>{{ student.tasks_solved }}</td>
          <td>{{ student.tasks_failed }}</td>
          <td>{{ student.tasks_untouched }}</td>
        </tr>
      </tbody>
    </table>
    <p ng-hide="students">У вас пока нет студентов</p>
</div>
